/* 레이아웃 */
#header {
  width: 100%;
  border-bottom: 1px solid #c6c6c6;
}
#banner {
}
#movie {
  background-color: #d9d9d9;
  padding: 24px;
}
#event {
  background-color: #fff;
  padding: 24px;
}
#opening {
  padding: 24px;
  background: url(../img/bg01.jpg) no-repeat center top;
  background-size: cover;
}
#new {
  background-color: bisque;
  padding: 24px;
}
#help {
}
#footer {
}
